:root {
    --color-primary: #34495E;
    --color-secondary: #FDEBD0;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #000000dc;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
    border: none;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

/* Estilo para o <ul> da lista de amigos */
.name-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px 20px;
}

/* Cada nome como uma "tag" */
.friend-item {
    display: flex;
    align-items: center;
    background-color: var(--color-button);
    border-radius: 50px;
    padding: 6px 12px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, color 0.2s;
}

.friend-item:hover {
    background-color: var(--color-white);
    color: #000000;
}

.friend-item span {
    margin-right: 8px;
}

/* Botão de remover */
.remove-btn {
    all: unset;
    color: var(--color-primary);
    font-size: 16px;
    margin-left: 6px;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
    line-height: 1;
}

.remove-btn:hover {
    color: #e50000;
    transform: scale(1.2);
}

/* Resultado do sorteio */
.section-result {
    font-family: "Inter", serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 30px 0px 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: var(--color-white);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.friend-selected{
    display: flex;
    align-items: center;
    background-color: #2f8741;
    border-radius: 50px;
    padding: 6px 24px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, color 0.2s;
}